/mooc-java-programming-i/part05-Part05_01.OneMinute/target/
/mooc-java-programming-i/part05-Part05_02.Book/target/
/mooc-java-programming-i/part05-Part05_03.Cube/target/
/mooc-java-programming-i/part05-Part05_04.FitByte/target/
/mooc-java-programming-i/part05-Part05_05.ConstructorOverload/target/
/mooc-java-programming-i/part05-Part05_06.OverloadedCounter/target/
/mooc-java-programming-i/part05-Part05_07.NullPointerException/target/
/mooc-java-programming-i/part05-Part05_09.HealthStation/target/
/mooc-java-programming-i/part05-Part05_10.CardPayments/target/
/mooc-java-programming-i/part05-Part05_08.BiggestPetShop/target/
/mooc-java-programming-i/part05-Part05_11.ComparingApartments/target/
/mooc-java-programming-i/part05-Part05_12.Song/target/
/mooc-java-programming-i/part05-Part05_13.IdenticalTwins/target/
/mooc-java-programming-i/part05-Part05_14.Books/target/
/mooc-java-programming-i/part05-Part05_15.Archive/target/
/mooc-java-programming-i/part05-Part05_16.DatingApp/target/
/mooc-java-programming-i/part05-Part05_17.Money/target/
/mooc-java-programming-i/part06-Part06_01.Menu/target/
/mooc-java-programming-i/part06-Part06_02.Stack/target/
/mooc-java-programming-i/part06-Part06_03.MessagingService/target/
/mooc-java-programming-i/part06-Part06_04.PrintingACollection/target/
/mooc-java-programming-i/part06-Part06_05.SantasWorkshop/target/
/mooc-java-programming-i/part06-Part06_06.LongestInCollection/target/
/mooc-java-programming-i/part06-Part06_08.CargoHold/target/
/mooc-java-programming-i/part06-Part06_09.SimpleDictionary/target/
/mooc-java-programming-i/part06-Part06_10.TodoList/target/
/mooc-java-programming-i/part06-Part06_11.Averages/target/
/mooc-java-programming-i/part06-Part06_12.JokeManager/target/
/mooc-java-programming-i/part06-Part06_13.Exercises/target/
/mooc-java-programming-i/part07-Part07_01.LiquidContainers/target/
/mooc-java-programming-i/part07-Part07_02.LiquidContainers2/target/
/mooc-java-programming-i/part07-Part07_03.Sorting/target/
/mooc-java-programming-i/part07-Part07_04.ReadymadeSortingAlgorithms/target/
/mooc-java-programming-i/part07-Part07_05.Searching/target/
/mooc-java-programming-i/part07-Part07_06.GradeStatistics/target/
/mooc-java-programming-i/part07-Part07_07.RecipeSearch/target/
