/mooc-java-programming-i/part05-Part05_01.OneMinute/target/
/mooc-java-programming-i/part05-Part05_02.Book/target/
/mooc-java-programming-i/part05-Part05_03.Cube/target/
/mooc-java-programming-i/part05-Part05_04.FitByte/target/
/mooc-java-programming-i/part05-Part05_05.ConstructorOverload/target/
/mooc-java-programming-i/part05-Part05_06.OverloadedCounter/target/
/mooc-java-programming-i/part05-Part05_07.NullPointerException/target/
/mooc-java-programming-i/part05-Part05_09.HealthStation/target/
/mooc-java-programming-i/part05-Part05_10.CardPayments/target/
